body {
  min-height: 100vh;
  background-color: #efb680;
}

#header {
  min-height: 220px;
  text-align: center;
  font-size: 2rem;
  font-weight: lighter;
}

#vanGoghartDisplaySection {
  display: flex;
}

#navigationBar {
  max-width: 200px;
}

#imageWrapper {
  max-width: 780px;
  height: max-content;
  margin-left: 4rem;
}

#imageHolderTag {
  width: 100%;
  height: 100%;

  object-fit: cover;
}

/* #imageWrapper {} */

/* Egyptian art section styling */
#userSearchSection {
  display: flex;
}

#userSearchNavBar {
  max-width: 200px;
}

#userDisplayImageWrapper {
  max-width: 780px;
  height: max-content;
  margin-left: 4rem;
}

#displayImageTag {
  width: 100%;
  height: 100%;

  object-fit: cover;
}

#userSearchSection {
  margin-top: 4rem;
}

#searchQueryInfo {
  border-top: solid 2px black;
  padding-top: 12px;
  margin-top: 12px;
  /* font-style: italic; */
}
