body {
  min-height: 100vh;
  background-color: #88a2bc;
}

#header {
  min-height: 220px;
  text-align: center;
  font-size: 2rem;
}

#artDisplaySection {
  display: flex;
}

#imageHolderTag {
  margin-left: 10rem;
}

/* #imageWrapper {} */

#previous {
  height: fit-content;
}

#next {
  height: fit-content;
}
