body {
  min-height: 100vh;
  background-color: #88a2bc;
}

#header {
  min-height: 220px;
  text-align: center;
  font-size: 2rem;
}

#artDisplaySection {
  min-height: 862px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

}

#imageWrapper {
  margin-top: 32px;
  flex-grow: 1;
}

#previous {
  flex-grow: 0;
  width: fit-content;
}

#next {
  width: fit-content;
}
